<div class="navBar">
	<div class="navItem">
		<button (click)="viewAllBugs()">All Bugs</button>
	</div>
	<div *ngIf="position == 'Developer' || position == 'Tester'" class="navItem">
		<button (click)="viewYourBugs()">Your Bugs</button>
	</div>
	<div *ngIf="position == 'Manager'" class="navItem">
		<button (click)="viewCurrentBugs()">Current Bugs</button>
	</div>
	<div *ngIf="position == 'Manager'" class="navItem">
		<button (click)="dashBoard()">Dashboard</button>
	</div>
	<div class="logout">
		<button (click)="logout()">Logout</button>
	</div>
</div>
