<div class="enterEmail">
	<p>Enter your email to view your submitted bugs</p>
	<label>Email<input type="email" id="email" name="email" [(ngModel)]="email"></label>
	<button (click)="getSubmittedBugs()">View Bugs</button>
  <button (click)="back()">Go Back</button>
</div>

<table *ngIf="submittedBugs" class="BugTable">
  <tr>
  	<th class="d">Date</th>
  	<th class="d">Software</th>
  	<th class="d">Description</th>
  	<th class="d">Status</th>
  </tr>
  <tr *ngFor="let bug of submittedBugs">
  	<td class="d">{{bug.dateReported | date: 'M/d HH:mm'}}</td>
  	<td class="d">{{bug.software}}</td>
  	<td class="description d">{{bug.description}}</td>
    <td class="d">{{bug.status}}</td>
  </tr>
</table>
