<!--<div class="nav">
  <button (click)="navigate()">Manage Account Codes</button>
</div>-->
<app-nav-bar></app-nav-bar>
<table *ngIf="activeBugs" class="BugTable">
  <tr>
  	<th>Date</th>
  	<th>Software</th>
  	<th>Description</th>
  	<th>Assigned To</th>
  	<th>Status</th>
  </tr>
  <tr *ngFor="let bug of activeBugs;index as i">
  	<td>{{bug.dateReported | date: 'M/d HH:mm'}}</td>
  	<td>{{bug.software}}</td>
  	<td>{{bug.description}}</td>
  	<td><select></select></td>
  	<td><select></select></td>
  	<td><button (click)="update(bug)">Update</button></td>
  </tr>
</table>
