<!--<div class="nav">
  <button (click)="navigate()">Manage Account Codes</button>
</div>-->
<app-nav-bar></app-nav-bar>
<table *ngIf="activeBugs" class="BugTable">
  <tr>
  	<th>Date</th>
  	<th>Software</th>
  	<th>Description</th>
  	<th>Assigned To</th>
  	<th>Status</th>
    <th>Assign To</th>
    <th>Change Status</th>
  </tr>
  <tr *ngFor="let bug of activeBugs;index as i">
  	<td>{{bug.dateReported | date: 'M/d HH:mm'}}</td>
  	<td>{{bug.software}}</td>
  	<td>{{bug.description}}</td>
  	<td><input type="text" [(ngModel)]="activeBugs[i].currentWorker" name="currentWorker"/></td>
  	<td><input type="text" value={{bug.status}} [(ngModel)]="bugs[i].status" name="status"/></td>
  	<td><button (click)="update(bug)">Update</button></td>
    <td *ngIf="devs">
      <select name="devSelect" [(ngModel)]="{{bug.currentWorker}}">
        <option value=""></option>
        <option *ngFor="let dev of devs" value="dev.email">{{dev.firstName}} {{dev.lastName}} - {{dev.position}}</option>
      </select>
    </td>
    <td>
      <select name="statusSelect" [(ngModel)]="bug.status">
        <option value=""></option>
        <option value="submitted">Submitted</option>
        <option value="verifying">verifying</option>
        <option value="verified">Verified</option>
        <option value="fixing">Fixing</option>
        <option value="readyForTest">Ready For Test</option>
        <option value="testing">Testing</option>
      </select>
    </td>
  </tr>
</table>
