.dashboard {
	margin:0px auto; 
	margin-top: 100px; 
	text-align: center; 
}

.dashboardItem {
	display: inline-block;
    background-color: #e5e5e5;
    border: 2px solid #cc1e1e;
    padding: 30px;
    vertical-align: top;
    height: 300px;
    width: 400px;
    margin-right: 30px;
}

.accountCode {
	display: block;
    text-align: left;
    margin-top: 10px;
    padding-left: 10px;
}	

.accountCode button {
	display: block; 
	text-align: center; 
	margin: 0px auto; 
	margin-top: 10px; 
}

table {
	text-align: center; 
	margin: 0px auto; 
}

td, th {
	text-align: left; 
}