<!--<div class="nav">
  <button (click)="navigate()">Manage Account Codes</button>
</div>-->
<app-nav-bar></app-nav-bar>
<div class="activeBugs">
  <h1>Bug History</h1>
  <table *ngIf="activeBugs" class="BugTable">
    <tr>
    	<th>Date</th>
    	<th>Software</th>
    	<th>Cause</th>
    	<th>Description</th>
    	<th>Assigned To</th>
    	<th>Status</th>
    	<th>Comments</th>
    	<th>Add Comment</th>
    	<th>Update</th>
    	<th>Delete</th>
    </tr>
    <tr *ngFor="let bug of activeBugs;index as i">
    	<td>{{bug?.dateReported | date: 'M/d HH:mm'}}</td>
    	<td>{{bug?.software}}</td>
    	<td>{{bug?.before}}</td>
    	<td>{{bug?.description}}</td>
    	<td *ngIf="devs">
        <select name="devSelect" [(ngModel)]="bug.currentWorker">
          <option value=""></option>
          <option *ngFor="let dev of devs" value="{{dev.email}}">{{dev.name}} - {{dev.position}}</option>
        </select>
      </td>
    	<td>
        <select *ngIf="bug?.status" name="statusSelect" [(ngModel)]="bug.status">
          <option value=""></option>
          <option value="submitted">Submitted</option>
          <option value="verifying">Verifying</option>
          <option value="verified">Verified</option>
          <option value="fixing">Fixing</option>
          <option value="testable">Ready For Test</option>
          <option value="testing">Testing</option>
          <option value="fixed">Fixed</option>
        </select>
      </td>
      <td>
        <button (click)="viewCommentToggles[i] = !viewCommentToggles[i]">View History</button>
        <div *ngIf="comments">
          <div *ngIf="viewCommentToggles[i]" class="viewComments">
            <ul>
              <li *ngFor="let comment of comments[i];index as j">
                {{comments[i][j].dateAdded | date: 'M/d HH:mm'}}: {{comments[i][j].comment}}
              </li>
            </ul>
          </div>
        </div>
      </td>
      <td>
        <button (click)="activeBugListeners[i] = !activeBugListeners[i]">Add Comment</button>
        <div *ngIf="activeBugListeners[i]" class="addComment">
          <textarea name="comment" [(ngModel)]="newComment"></textarea>
          <button (click)="addActiveBugComment(i)">Submit Comment</button>
        </div>
      </td>
      <td><button (click)="update(bug)">Update</button></td>
      <td><button (click)="delete(bug, i)">Delete</button></td>
    </tr>
  </table>
  <button *ngIf="employeeType == 'manager'" class="bugButton" (click)="navToManager()">View Current Bugs</button>
  <button *ngIf="employeeType == 'tester' || employeeType == 'developer'" class="bugButton" (click)="navToDeveloper()">View Current Bugs</button>


</div>
