.activeBugs {
	margin-top: 100px; 
	text-align: center; 
}

.BugTable {
	text-align: center; 
	margin: 0px auto; 
	background-color: #e5e5e5; 
}

h1 {
	font-size: 50px; 
}

td, th {
	padding-left: 5px; 
	padding-right: 5px; 
	padding-top: 5px; 
	padding-bottom: 5px; 
}

.BugTable th {
	background-color: #cc1e1e; 
	color: white; 
	font-size: 20px; 
}

.filterItem {
	margin-right: 30px;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 20px;
}

.bold {
	font-weight: bold; 
}

.buttons {
	display: block; 
}

.buttons button {
	margin-right: 15px; 
}

button {
	background-color: #cc1e1e; 
	color: white;
}

td button {
	background-color: white; 
	border: 2px solid #cc1e75; 
	color: #cc1e75;
	border-radius: 5px; 
}

button:hover {
	cursor: pointer; 
}

button:focus {
	outline: none; 
}

.sortOptions {
	margin-top: 10px; 
	margin-bottom: 30px; 
}

.sortOptions h2 {
	margin: 0px; 
	padding: 0px; 
	font-size: 35px; 
}

.viewComments {
	text-align: left; 
	max-width: 300px; 
}