<div class="topBanner">
	<h1>SCU Bug Reporter</h1>
</div>
<div class="createAccount">
	<h2>Create Account</h2>
	<form (submit)="createAccount()">
		<div class="formGroup">
			<input type="email" name="email" [(ngModel)]="account.email" placeholder="Email" required>
		</div>
		<div class="formGroup">
			<input type="password" name="password" [(ngModel)]="account.password" placeholder="Password" required>
		</div>
		<div class="formGroup">
			<input type="password" name="positionCode" [(ngModel)]="account.positionCode" placeholder="Position Code" required>
		</div>
		<div class="formGroup">
			<input type="text" name="firstName" [(ngModel)]="account.firstName" placeholder="First Name" required>
		</div>
		<div class="formGroup">
			<input type="text" name="lastName" [(ngModel)]="account.lastName" placeholder="Last Name" required>
		</div>
		<div class="formGroup">
			<label>Position</label>
			<select [(ngModel)]="account.position" name="kind">
				<option value="Manager">Manager</option>
				<option value="Tester">Tester</option>
				<option value="Developer">Developer</option>
			</select>
		</div>
		<p class="error" *ngIf="err">Error Creating Account</p>
		<p class="error" *ngIf="codeErr">Position Code Not Found</p>
		<input class="inputButton" type="submit" value="Create Account">
	</form>
	<div class="login">
		<p>Already have an account? Login <a routerLink="/">Here</a></p>
	</div>
</div>
