<div class="createAccount">
	<form (submit)="createAccount()">
		<input type="email" name="email" [(ngModel)]="account.email" placeholder="email" required>
		<input type="password" name="password" [(ngModel)]="account.password" placeholder="password" required>
		<input type="password" name="positionCode" [(ngModel)]="account.positionCode" placeholder="positionCode" required>
		<input type="text" name="firstName" [(ngModel)]="account.firstName" placeholder="First Name" required>
		<input type="text" name="lastName" [(ngModel)]="account.lastName" placeholder="Last Name" required>
		<select [(ngModel)]="account.position" name="kind">
			<option value="manager">Manager</option>
			<option value="tester">Tester</option>
			<option value="developer">Developer</option>
		</select>
		<p *ngIf="err">Error Creating Account</p>
		<input type="submit" value="Create Account">
	</form>
</div>
